body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

a {
  color: blue;
}

.heading {
  margin: 10px 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.navigation {
  margin: 10px 10px 20px;
}

.navigation a {
  margin-right: 20px;
}

.number {
  vertical-align: middle;
  font-size: 12px;
  color: #888;
  padding: 10px;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.meta {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 20px;
}

li {
  margin: 10px 0;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

pre {
  white-space: pre-line;
}

@media (max-width: 640px) {
  img.forkMe {
    display: none;
  }
}
